# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
build/
**/build/
cmake-build-*/

# Cache/IDE folders
.cache/
.vscode/
.idea/
.vs/

dependencies/glew-2.1.0/auto/registry